{
    "clientID": "1429205599048175778",
    "clientIDAdmin": "1429205599048175778",
    "devs": ["1149913737558499358"],
    "successEmoji": "✅",
    "failedEmoji": "❌",
    "arrowEmoji": "➡️",
    "bulletpointEmoji": "•",
    "loadingEmoji": "↻",
    "warnEmoji": "⚠️"
}
