TOKEN="MTQyOTIwNTU5OTA0ODE3NTc3OA.GvJa0G.ObDds08Hpv7BdEdbt6S_vJk4v6w7p4pbS_7jTc"
TOKEN_ADMIN="MTQyOTIwNTU5OTA0ODE3NTc3OA.GvJa0G.ObDds08Hpv7BdEdbt6S_vJk4v6w7p4pbS_7jTc"
MONGO_URI="mongodb+srv://ethxium:Yf9KmXgavCyFISXk@main.klbkw.mongodb.net/NEST?retryWrites=true&w=majority"
ERROR_WEBHOOK_URL="https://discord.com/api/webhooks/id/token"
EVAL_EXPLICIT_ID="1149913737558499358"
STATUSPAGE_API_KEY="01234567-89ab-cdef-0123-456789abcdef"

CLIENT_ID="1429205599048175778"
SUCCESS_EMOJI=""
FAILED_EMOJI=""
ARROW_EMOJI=""
BULLETPOINT_EMOJI=""
LOADING_EMOJI=""
WARN_EMOJI=""
